.map-container2 {
    position: relative;
    /* position: absolute; */
    /* top: 500px; */
    /* top: 0; */
    /* bottom: 300px; */
    /* bottom: 0; */
    width: 100%;
    /* height: 100vh; */
    height: 500px;

};